body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F9FAFD;
 
    }
.navright
{
  display: block;
  width: 100%;
  align-self: left;
  padding: 0;
  list-style-type: none;
  color: purple;
  
}

.title {
  font-size: 35px;
 
}

.hire {

  background-color: #000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  border-radius: 20px;
  margin-top: 5px;
  height: 40px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.scroll {

  background-color: #000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  height: 40px;
  width: 100%;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
}

.paragraph {
  border-left: 5px #CCCCCC;
  border-left-style: solid;
  padding-left: 15px;
  color: purple;

}

@media only screen and (min-width:700px) {


    .navright {
      float: right;
      display: flex;
      list-style-type: none;
      justify-content: flex-end;
      margin: 10px;
      width: 70%;
    
    }
    
    .nav {
        display: flex;
        align-items: center;
        margin: 0px 0px 100px 0px;
      }

    .navleft {
        display: flex;
        justify-content: flex-start;
        width: 30%;

    }
    
    li {
      padding: 5px;
      margin: 5px;
    }
    
    .title {
      font-size: 35px;
     
    }
    .copy {
    flex: 1;
    
    }
    
    .hire {
    
      background-color: #000;
      border: none;
      color: #FFFFFF;
      text-align: center;
      border-radius: 15px;
      margin-top: 5px;
      height: 30px;
      width: 75px;
      font-family: 'Open Sans', sans-serif;
    }
    
    #copy {
      float:left;
      margin-left: 30px;
      width: 100%;
     
    }
    
    
    .scroll {
    
      background-color: #000;
      border: none;
      float: center;
      color: #FFFFFF;
      text-align: center;
      margin: 200px;
      margin-left: 45%;
      height: 30px;
      width: 75px;
      border-radius: 15px;
      font-family: 'Open Sans', sans-serif;
    }
    .circle {
      float: right;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      margin-bottom: 50px;
    }
    
    #child-1 {
      background: rgba(247, 193, 162, 0.7);
      width: 200px;
      height: 200px;
      position: absolute;
      z-index: 3;
      left: 80%;
      top: 80%;
      transform: translate(-80%, -20%);
    
      
    
    }
    #child-2 {
      background: rgba(207, 130, 213, 0.6);
      width: 150px;
      height: 150px;
      position: absolute;
      z-index: 1;
      left: 80%;
      top: 70%;
      transform: translate(-70%, -90%);
    
    
    }
    #child-3 {
      background: rgba(247, 136, 167, 0.6);
      top: 300px;
      left: 300px;
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    
    }
    
    
    #parent {
      position: relative;
      flex: 1;
    }
    
    .flex-c {
      display: flex;
    }
    
    
    .paragraph {
      border-left: 5px #CCCCCC;
      border-left-style: solid;
      padding-left: 15px;
    }
    
    


